.button{
    width: 170px;
    height: 47px;
    font-weight: 600;
    border-radius: 12px;
    padding: 10px 16px;
    background-color: var(--color-black);
    color: var(--color-primary);
    cursor: pointer;
}