.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 74px;
    width: 100%;
    background-color: var(--color-primary);
    padding: 13px 32px;
    
}